// reglas para tipografia

@mixin estiloTipografia($color, $tamanio){
	color:$color;
	font-size:$tamanio;
}
$grosorLetras:(
	tituloPrincipal: 900,
	tituloSecundario: 700,
	contenidoGrande: 700,
	subtitulos: 400,
	contenidoChico: 400
);
.titulo__sitio {
	@include estiloTipografia($NoTanBlanco, 50px);
	font-weight: map-get($grosorLetras,tituloPrincipal);
}
.titulos__paginas {
	@include estiloTipografia($NoTanBlanco, 40px);
	font-weight: map-get($grosorLetras,tituloSecundario);
}
.subtitulos__paginas {
	@include estiloTipografia($NoTanBlanco, 30px);
	font-weight: map-get($grosorLetras,subtitulos);
}
.contenido__grande {
	@include estiloTipografia($NoTanBlanco, 20px);
	font-weight: map-get($grosorLetras,contenidoGrande);
}
.contenido__chico {
	@include estiloTipografia(white, 20px);
	font-weight: map-get($grosorLetras,contenidoChico);
	text-align: justify;
}