// variables paleta de colores
$NoTanBlanco: #F0F0F0;
$NoTanNegro: #000600;
$BordoFooter: #730014;
$GradienteIndex-A: #2D0003;
$GradienteIndex-B: #FF1F6A;
$GradienteIndex-C: #FF6BB0;
$GradienteCarousel-A: #00033A;
$GradienteCarousel-B: #003CC5;
$GradienteCarousel-C: #00B0FF;
$GradienteDiscos-A: #009700;
$GradienteDiscos-B: #FFD524;
$GradienteGaleria-A: #FFD873;
$GradienteGaleria-B: #FFD7AA;